.card {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px auto;
}

.card-image img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.card-header {
  background-color: rgba(132, 151, 88, 0.4);
  border-radius: 0 0 10px 10px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.card-header img {
  margin-right: 10px;
}

.card-header h2 {
  margin: 0;
}

.card-body {
  padding: 20px;
}

.card-footer {
  background-color: #f5f5f5;
  padding: 20px;
  display: flex;
  align-items: center;
}

.card-footer img {
  margin-right: 10px;
}

.card-footer span {
  margin-right: 20px;
}
